<tr>
  <td><%= audit_log.id %></td>
  <td><%= audit_log.user.full_name %></td>
  <td><%= audit_log.start_date %></td>
  <td><%= audit_log.end_date %></td>
  <td>
    <%= status_label(audit_log.status) %>
  </td>
  <td></td>
  <td></td>
</tr>