<h3>Audit Logs Dashbaord</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Week Starting</th>
      <th>Comfirmed At</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="audit_logs">
    <%= render @audit_logs %>
  </tbody>
</table>

<div class="paginator">
  <%= paginate @audit_logs %>
</div>