<% if flash[:notice] %>
  <%= js add_gritter(flash[:notice], title: "Overtime Application Notification", sticky: false) %>
<% elsif flash[:alert] %>
  <%= js add_gritter(flash[:alert], title: "Overtime Application Alert", sticky: false) %>
<% elsif flash[:error] %>
  <%= js add_gritter(flash[:error], title: "Overtime Application Error", sticky: false) %>
<% end %>