<div class="container-fluid">
  <div class="pending-homepage row">
    <h2>Items Pending Approval</h2>
    <hr>
    <%= render partial: 'pending_approval', locals: { posts: @pending_approvals } %>
  </div>
  
  <div class="pending-homepage row">
    <h2>Confirmation Log</h2>
    <hr>
    <%= render partial: 'recent_audit', locals: { audits: @recent_audits} %>
    <hr>
    <div class="clearfix"></div>
    <div class="text-center">
      <%= link_to 'View All', audit_logs_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>