<div class="container-fluid">
  <div class="row">
    <% if !@pending_audit_confirmations.empty? %>
      <div class="employee-blocks">
        <h3>Pending Confirmation</h3>
        
        <%= render partial: 'pending_audit_confirmation', 
                   locals: { audits: @pending_audit_confirmations } %>
      </div>
    <% end %>
    
    <div class="employee-blocks">
      <h3>Request Overtime</h3>
      <%= link_to "Request Overtime Approval", new_post_path, 
                  class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
</div>