<% posts.each do |post| %>
  <div class="homepage-block col-md-3">
    <h4><%= post.user.full_name %></h4>
    <p>
      <span class="pending_details">Date Requested:</span> <%= post.date %>
    </p>
    <p>
      <span class="pending_details">Work Performed: </span> 
      <%= truncate post.work_performed, length: 50 %>
    </p>
    
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Approve', approve_post_path(post),
                    method: :patch,
                    class: "btn btn-success btn-block",
                    id: "approve_request_#{post.id}" %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Review', post,
                    class: "btn btn-warning btn-block",
                    id: "review_request_#{post.id}" %>
      </div>
    </div>
  </div>
<% end %>