<% audits.each do |audit| %>
  <%= link_to "I confirm that I did not perform any overtime from: #{audit.start_date} to #{audit.start_date + 6.days}",
    confirm_audit_log_path(audit),
    method: :patch,
    class: "btn btn-primary btn-lg btn-block btn-employee-home",
    id: "confirm_audit_log_#{audit.id}",
    data: { confirm: "Are you sure you want to confirm you did not perform any overtime?" } %>
<% end %>