<% audits.each do |audit| %>
  <div class="homepage-block col-md-3">
    <h4><%= audit.user.full_name %></h4>
    <p>
      <span class="pending_details">Week starting:</span> 
      <%= audit.start_date %>
    </p>
    <p>
      <span class="pending_details">Confirmed at: </span> 
      <%= audit.end_date || status_label('pending') %>
    </p>
    <p>
      <span class="pending_details">Status: </span> 
      <%= status_label audit.status %>
    </p>
  </div>
<% end %>