<%= form_for @post, class: "form-horizontal" do |f| %>
  
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Invalid Post", sticky: false) %>
    <% end %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :daily_hours, class: "col-sm-2 control-label" %>
    <%= f.number_field :daily_hours, step: 0.1, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :work_performed, "Work Performed", class: "col-sm-2 control-label" %>
    <%= f.text_area :work_performed, class: "form-control" %>
  </div>
  
  
  <%= render partial: 'status', locals: { f: f } if current_user.admin? %>
  
  <%= f.submit 'Save', class: "btn btn-primary btn-block" %>

<% end %>
