<tr>
  <td><%= post.date %></td>
  <td><%= post.daily_hours %></td>
  <td class="hidden-xs"><%= link_to truncate(post.work_performed), post %></td>
  <td><%= status_label(post.status) %></td>
  <td>
    <%= link_to '', edit_post_path(post), id: "edit_#{post.id}",
                    class: "glyphicon glyphicon-edit index-icon" if policy(post).update? %>
  </td>
  <td>
    <%= link_to '', post_path(post), method: :delete, 
                    class: "glyphicon glyphicon-remove index-icon",
                    id: "delete_post_#{post.id}_from_index", 
                    data: { confirm: "Please Confirm Entry Removal."} %>
  </td>
</tr>