<div class="">
  <h2><%= @post.date %></h2>
</div>

<div class="well">
  <div>
    <h3><span>Hours Requested:</span> <%= @post.daily_hours %></h3>
  </div>
  
  <div>
    <h3><span>Work Performed:</span> <%= @post.work_performed %></h3>
  </div>
  
  <div>
    <h3><span>Employee:</span> <%= @post.user.full_name %></h3>
  </div>
  
  <div>
    <h3><span>Current Stage of Approval: </span> <%= @post.status.titleize %></h3>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" if policy(@post).update? %>