.pending-homepage {
  background-color: #E3E3E3;
  margin: 20px 0px 5px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}

.homepage-block {
  background-color: #494d54;
  color: white;
  margin: 12px 42px 32px 42px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  &:hover {
    background-color: #313338;
  }
}

.pending_details {
  font-weight: 900;
}