.employee-blocks {
  background-color: #E3E3E3;
  margin: 20px 0px 5px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}

.btn-employee-home {
  white-space:normal !important;
}