// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-icon {
  font-size: 1.5em;
}

.index-icon:hover {
  text-decoration: none;
  color: black;
}